.page-title {
    text-align: center;
    margin: 20px 0; /* Adjust as needed */
}

.masthead {
    text-align: center;
}

.masthead__inner-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.site-title {
    display: inline-block;
    text-align: center;
}

.site-subtitle {
    display: block;
}